# Q1

In [5]:
#Let first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\rashi\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\rashi\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [6]:
#Lets import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [7]:
#Lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [4]:
driver.close()

In [8]:
driver.get('https://www.naukri.com/')

In [9]:
#Finding the element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst”")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [10]:
#specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst%E2%80%9D&l=bangalore"

In [11]:
#Lets open the webpage through our web driver
driver.get(url)

In [12]:
job_titles=[]
company_names=[]
locations_list=[]

In [13]:
#so Lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="fafd0961-d9d5-48d9-bb6e-2a48dea8cb89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="751c7064-d2e7-44f7-a2dd-7c43de8ebd1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="bf442437-a308-48a0-a636-9e5383d85624")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="0af25318-914c-4f54-a4c5-d984dff6ded5")>]

In [14]:
#Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract the text inside them.

for i in titles_tags:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

['Data Engineer/Data Analyst- Chennai',
 'Azure Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst']

In [15]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="ad892247-2929-4de7-85be-4588a07b6db8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="172f5cc9-8951-4112-a13c-2572ad00a1a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="12971e2d-2636-4a06-b539-3c241cf35866")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="585e971a-b70e-44d2-89c2-39bc6debf980")>]

In [16]:
#Now the text of the companies names is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract the text inside them.

for i in companies_tags:
    companies=i.text
    company_names.append(companies)
company_names[0:4]

['Inflexion Analytix Private Limited',
 'Capgemini Technology Services India Limited',
 'Super India Tech Mark',
 'Flipkart Internet Private Limited']

In [17]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="aa521764-72a2-43b9-b557-0a4ef9c0b512")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="da0cd73a-8691-4552-b553-bb33b9d64e81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="fc05fbcc-165c-4309-acf6-4f2b1af0eda4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="496c76d1a9e67882dee652745476fbc9", element="c26ed7d0-16b0-4389-958f-1be6e8bf850b")>]

In [18]:
for i in location_tags:
    locations=i.text
    locations_list.append(locations)
locations_list[0:4]

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru']

In [19]:
print(len(job_titles),len(company_names),len(locations_list))

20 20 20

In [20]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs["title"]=job_titles[0:10]
jobs["company"]=company_names[0:10]
jobs["location"]=locations_list[0:10]

In [21]:
jobs

,title,company,location
0,Data Engineer/Data Analyst- Chennai,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
1,Azure Data Analyst,Capgemini Technology Services India Limited,Bangalore/Bengaluru
2,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur)
3,Executive - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru
4,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru
5,"Data Analyst - Alteryx, Tableau and SQL",Schneider Electric,Bangalore/Bengaluru
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru

In [22]:
driver.close()

# Q2

In [23]:
#Let first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\rashi\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\rashi\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [24]:
#Lets import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [25]:
#Lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [26]:
driver.get('https://www.naukri.com/')

In [27]:
#Finding the element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist”")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [28]:
#specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist%E2%80%9D&l=bangalore"

In [29]:
#Lets open the webpage through our web driver
driver.get(url)

In [30]:
job_titles=[]
company_names=[]
locations_list=[]
job_description=[]

In [31]:
#so Lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]
#Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract the text inside them.

for i in titles_tags:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

['Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - IBM Garage',
 'GAMMA Lead Data Scientist']

In [32]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]
#Now the text of the companies names is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract the text inside them.

for i in companies_tags:
    companies=i.text
    company_names.append(companies)
company_names[0:4]

['CronJ IT Technologies Private Limited',
 'AugmatrixGo',
 'IBM India Pvt. Limited',
 'Boston Consulting Group']

In [33]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]
for i in location_tags:
    locations=i.text
    locations_list.append(locations)
locations_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru']

In [34]:
desc_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
desc_tags[0:4]
for i in desc_tags:
    descriptions=i.text
    job_description.append(descriptions)
job_description[0:4]

['Flexibility in working independently and do needful research whenever requiredGood Know...',
 'BTech / MTech degree in from reputed institutes like IIT / NIT / BITSSkills Required : ...',
 'Required Technical and Professional ExpertisePreferred Technical and Professional Exper...',
 'Practice Area Profile BCG GAMMA combines innovative skills in computer science, artific...']

In [35]:
print(len(job_titles),len(company_names),len(locations_list),len(job_description))

20 20 20 20

In [36]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs["title"]=job_titles[0:10]
jobs["company"]=company_names[0:10]
jobs["location"]=locations_list[0:10]
jobs["full_description"]=job_description[0:10]

In [37]:
jobs

,title,company,location,full_description
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,Flexibility in working independently and do ne...
1,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,BTech / MTech degree in from reputed institute...
2,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Required Technical and Professional ExpertiseP...
3,GAMMA Lead Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Practice Area Profile BCG GAMMA combines innov...
4,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",What Youll Do We re looking for a passionate a...
5,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Bachelors / Masters degree in Engineering / Te...
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Logical and Analytical skills must be really s...
7,Data Scientist,Schneider Electric India Pvt. Ltd.,Bangalore/Bengaluru,In-depth understanding and modeling experience...
8,Associate Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,Bangalore/Bengaluru,The RoleGeneral Position DefinitionThis role w...
9,Data Scientist - Business Analytics,Philips India Limited,Bangalore/Bengaluru,"Experience in the areas of analytics, exposure..."

In [38]:
driver.close()

# Q3

In [44]:
#Let first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\rashi\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\rashi\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [45]:
#Lets import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [46]:
#Lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [47]:
driver.get('https://www.naukri.com')

In [48]:
#Finding the element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [49]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [51]:
search_loc=driver.find_element_by_xpath("//i[@id='fleft naukicon naukicon-checked']")
search_loc.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//i[@id='fleft naukicon naukicon-checked']"}
  (Session info: chrome=89.0.4389.114)